@model SalesSystem.MVC.ViewModels.SaleViewModel
@using SalesSystem.Common.Resources
@{
    ViewBag.Title = Fields.Sale;
}

<h2>@Fields.Delete</h2>

<h3>@Messages.AreYouSureWantDelete</h3>
<div>
    <h4>@Fields.Sale</h4>
    <hr />
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderNumber)
            </dd>
		
            <dt>
                @Html.DisplayNameFor(model => model.PersistDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PersistDate)
            </dd>
		
            <dt>
                @Html.DisplayNameFor(model => model.CustomerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalSale)
            </dt>

            <dd>
                R$ @Model.TotalSale
            </dd>

        </dl>
    </div>
    <div class="row col-md-offset-2">
        <table class="col-md-10 table-striped">
            <thead>
            <tr>
                <th>@Fields.Product</th>
                <th>@Fields.Quantity</th>
                <th>@Fields.UnitValue</th>
                <th>@Fields.TotalValue</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.SaleProducts)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>R$ @item.UnitPrice</td>
                    <td>R$ @item.TotalPrice</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
	
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Fields.Delete" class="btn btn-danger" /> |
            @Html.ActionLink(Fields.BackToList, "Index", null, new {@class="btn btn-default"})
        </div>
    }
</div>
